<div class="ng-select-container" [class.error]="hasError" (click)="$event.stopPropagation()">
  <input
    #fileInput
    type="file"
    class="hidden-input"
    (change)="onFileSelected($event)"
  />
  <div
    class="select-trigger"
    (click)="toggleDropdown($event)"
    [class.open]="isOpen"
  >
    <div class="placeholder-container">
      <span class="placeholder">{{ placeholder }}</span>
      <span class="file-count" *ngIf="getTotalFiles() > 0"
        >({{ getTotalFiles() }})</span
      >
    </div>
    <div class="trigger-right">
      <div class="loader" *ngIf="isLoading"></div>
      <span class="select-arrow" *ngIf="!isLoading"></span>
    </div>
  </div>

  <div class="select-dropdown" *ngIf="isOpen">
    <ng-container *ngIf="files">
      <ng-container *ngIf="!isVideos(files)">
        <ng-container *ngFor="let lang of objectKeys(files)">
          <ng-container
            *ngFor="let item of getFilesForLang(lang); let i = index"
          >
            <div class="select-option">
              <img
                src="/assets/svg/{{ lang }}.svg"
                width="20px"
                alt="{{ lang }}"
                class="lang-icon"
              />
              <span class="option-name">{{ item.name }}</span>
              <div class="option-actions">
                <span class="option-replace" (click)="onReplaceFile(lang, i, $event)" [class.replacing]="isReplacing(lang, i)">
                  <img src="/assets/svg/replace.svg" width="18px" alt="replace"/>
                </span>
                <span class="option-remove" (click)="onRemoveFile(lang, i)">×</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isVideos(files)">
        <div class="select-option" *ngFor="let video of files; let i = index">
          <div class="video-info">
            <div class="video-name">
              <span class="lang-label">UZ:</span> {{ video.name.uz }}
            </div>
            <div class="video-name">
              <span class="lang-label">RU:</span> {{ video.name.ru }}
            </div>
            <div class="video-name">
              <span class="lang-label">EN:</span> {{ video.name.en }}
            </div>
          </div>
          <div class="video-actions">
            <a [href]="video.url[selectedLang]" target="_blank" class="video-link">
              <img src="/assets/svg/play.svg" alt="Play" width="16" />
            </a>
            <span class="remove-video" (click)="onRemoveFile('', i)">×</span>
          </div>
        </div>
      </ng-container>

      <!-- Language selector for adding new files -->
      <div class="select-option add-file-option" *ngIf="!isVideos(files)">
        <div class="language-buttons">
          <button class="lang-btn" (click)="onAddFile('uz', $event)">
            <img src="/assets/svg/uz.svg" alt="UZ" width="20px" />
            <span>Add UZ file</span>
          </button>
          <button class="lang-btn" (click)="onAddFile('ru', $event)">
            <img src="/assets/svg/ru.svg" alt="RU" width="20px" />
            <span>Add RU file</span>
          </button>
          <button class="lang-btn" (click)="onAddFile('en', $event)">
            <img src="/assets/svg/en.svg" alt="EN" width="20px" />
            <span>Add EN file</span>
          </button>
        </div>
      </div>
    </ng-container>

    <div class="no-options" *ngIf="hasNoFiles()">
      Fayllar yuklanmagan
    </div>
  </div>
</div>
