<div class="container">
  <div
    class="w-100 min-h-screen d-flex justify-content-center align-items-center"
  >
    <div class="card" style="max-width: 380px; width: 300px">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >e-mail manzil</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="email@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">parol</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="••••••••"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100" routerLink="/auth/login/two-step-auth">Kirish</button>
        </form>
      </div>
    </div>
  </div>
</div>
