<div
  class="login-content w-100 min-h-screen d-flex justify-content-center align-items-center"
>
  <div class="card" style="max-width: 380px; width: 300px">
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" [class.ru]="lang === 'ru'">{{
          "email" | translate
        }}</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" [class.ru]="lang === 'ru'">{{
          "password" | translate
        }}</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          [(ngModel)]="password"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-3" [class.ru]="lang === 'ru'" (click)="login()">
        {{ "login" | translate }}
      </button>
      <button class="btn btn-secondary w-100" [class.ru]="lang === 'ru'">
        {{ "register" | translate }}
      </button>
    </div>
  </div>
</div>
