<div class="container">
  <h1 class="mb-3">{{ "list-of-lessons" | translate }}</h1>

  <div class="row" *ngIf="globalVar.length; else noData">
    <div class="col-md-4" *ngFor="let item of globalVar">
      <div class="section-card" [routerLink]="['/pages/lessons', item.id]">
        <div class="section-content">
          <div class="section-img">
            <img [src]="item.thumbnail" class="w-100" alt="img-1" />
          </div>
        </div>
        <div class="section-text">
          {{ item.lessonTitle[lang] }}
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <h2 class="mt-2 mb-4">{{ "no-data" | translate }}</h2>
  </ng-template>
</div>

<section class="about-platform">
  <div class="before"></div>
  <div class="after"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 d-flex align-items-center justify-content-center pt-5 flex-column"
        style="min-height: 600px"
      >
        <h1 class="about-platform-header pt-5">{{ "about-platform" | translate }}</h1>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {{ "swiper-text-1" | translate }}
            </div>
            <div class="swiper-slide">
              {{ "swiper-text-2" | translate }}
            </div>
            <div class="swiper-slide">
              {{ "swiper-text-3" | translate }}
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-people">
  <h1>{{ "authors" | translate }}</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="d-flex align-items-center jsutify-content-center">
          <div class="about-people-card">
            <img src="/assets/img/person-1.png" alt="" />
            <div class="about-people-card-body">
              <h4>{{ "doktorant" | translate }}</h4>
              <div [ngClass]="{'d-flex': lang === 'ru' || lang == 'en', 'flex-column-reverse': lang === 'ru' || lang == 'en'}">
                <p>
                  {{ "doktorant-desc" | translate }}
                </p>
                <b>{{ "doktorant-name" | translate }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2"></div>
      <div class="col-md-6">
        <div class="d-flex align-items-center jsutify-content-center">
          <div class="about-people-card">
            <img src="/assets/img/person-2.png" alt="" />
            <div class="about-people-card-body">
              <h4>{{ "director" | translate }}</h4>
              <div [ngClass]="{'d-flex': lang === 'ru' || lang == 'en', 'flex-column-reverse': lang === 'ru' || lang == 'en'}">
                <p>
                  {{ "director-desc" | translate }}
                </p>
                <b>{{ "director-name" | translate }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
