.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px !important;
}

.bi-plus-lg::before {
  font-weight: bolder !important;
  font-size: 1.4rem !important;
}

.add-btn {
  border-radius: 50% !important;
  width: 60px !important;
  height: 60px !important;
}


.btn-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}