<div class="modal-header">
  <h4 class="modal-title">Video qo'shish</h4>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label class="form-label">Video nomi</label>
    <input type="text" class="form-control" [(ngModel)]="video.name" placeholder="Video nomini kiriting">
  </div>
  <div class="mb-3">
    <label class="form-label">Video URL</label>
    <input type="url" class="form-control" [(ngModel)]="video.url" placeholder="Video URLini kiriting">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Yopish</button>
  <button type="button" class="btn btn-primary" [disabled]="!video.url || !video.name" (click)="onSubmit()">Saqlash</button>
</div> 