<nav class="position-fixed w-100 p-3">
    <div class="container">
        <div class="pl-3 pr-3 nav d-flex justify-content-between align-items-center">
            <a href="#">
                <img src="/assets/img/logo.png" width="60" />
            </a>
            <ul class="d-flex mt-0 mb-0">
                <li class="me-4">Text</li>
                <li class="me-4">Text</li>
                <li class="me-4">Text</li>
                <li>Text</li>
            </ul>
        </div>
    </div>
</nav>