<app-landing-content [titleShow]="true"></app-landing-content>
<div class="content">
  <div class="container">
    <div class="content-card">
      <div class="content-card-header">
        <img src="/assets/img/person-1.png" alt="" />
      </div>
      <ng-container *ngIf="lang === 'uz'">
        <p>
          Men, Xasanova Marhabo Nosirovna, Samarqand davlat universiteti
          doktoranti, professor Saidaliev Saidkarim Saidnabievich rahbarligida
          muhandislik grafikasini oʼrgatish uchun innovatsion platformani
          yaratdim. Mening dissertatsiya ishim muhandislik grafikasini
          oʼrgatishning samarali usullarini raqamli texnologiyalar yordamida
          tadqiq qilish va ishlab chiqishga bagʼishlangan. Ushbu platforma
          mening ilmiy izlanishlarim va olgan bilimlarimni amaliyotga tadbiq
          etish natijasidir. Bu yerda siz nazariy materiallar, va topshiriqlarni
          topasiz.
        </p>
        <p>
          Biz pedagog sifatida, taʼlimni hamma uchun qulay, samarali va
          qiziqarli qilishga intilamiz. Ushbu platformani yaratar ekanmiz,
          talabalarga muhandislik grafikasi asoslarini chuqurroq tushunishga
          yordam beradigan qulay vosita yaratishni maqsad qildik. Platforma
          shuningdek, oʼquv jarayonini tashkil etish uchun oʼqituvchilarga keng
          koʼlamda material va vositalarni taklif etadi. Umid qilamizki, bizning
          ishimiz Oʼzbekistondagi muhandislik taʼlimini rivojlantirishga oʼz
          hissasini qoʼshadi.
        </p>
        <p>
          Ushbu platformani yaratishda menga qimmatli maslahatlar va koʼmak
          bergan ilmiy rahbarim, professor Saidaliev Saidkarim Saidnabievichga
          hamda ushbu loyihaga bebaho hissasini qo’shgan dasturlashchiga chuqur
          minnatdorchilik bildiraman.
        </p>
      </ng-container>
      <ng-container *ngIf="lang === 'ru'">
        <p>
          Я, Хасанова Мархабо Носировна, докторант Самаркандского
          государственного университета, под руководством профессора Саидалиева
          Саидкарима Саиднабиевича, создала инновационную платформу для обучения
          инженерной графике. Моя диссертация посвящена исследованию и
          разработке эффективных методов обучения инженерной графике с помощью
          цифровых технологий. Эта платформа является результатом применения
          моих научных исследований и полученных знаний на практике. Здесь вы
          найдете теоретические материалы и задания. Как педагоги, мы стремимся
          сделать обучение доступным, эффективным и интересным для всех.
          Создавая эту платформу, мы ставили целью создать удобный инструмент,
          который поможет студентам глубже понять основы инженерной графики.
          Платформа также предлагает широкий спектр материалов и инструментов
          для организации учебного процесса для учителей. Мы надеемся, что наша
          работа внесет свой вклад в развитие инженерного образования в
          Узбекистане. Я выражаю глубокую благодарность своему научному
          руководителю, профессору Саидалиеву Саидкариму Саиднабиевичу, за
          ценные советы и помощь в создании этой платформы, а также
          программисту, внесшему неоценимый вклад в этот проект.
        </p>
      </ng-container>
      <ng-container *ngIf="lang === 'en'">
        <p>
          I, Khasanova Marhabo Nosirovna, a doctoral student at Samarkand State
          University, under the supervision of Professor Saidaliyev Saidkarim
          Saidnabievich, have created an innovative platform for teaching
          engineering graphics. My dissertation is devoted to the study and
          development of effective methods for teaching engineering graphics
          using digital technologies. This platform is the result of applying my
          scientific research and acquired knowledge in practice. Here you will
          find theoretical materials and tasks. As educators, we strive to make
          learning accessible, effective and interesting for everyone. In
          creating this platform, we aimed to create a convenient tool that
          would help students gain a deeper understanding of the basics of
          engineering graphics. The platform also offers a wide range of
          materials and tools for organizing the educational process for
          teachers. We hope that our work will contribute to the development of
          engineering education in Uzbekistan. I express my deep gratitude to my
          supervisor, Professor Saidkarim Saidnabievich Saidaliyev, for his
          valuable advice and assistance in creating this platform, as well as
          to the programmer who made an invaluable contribution to this project.
        </p>
      </ng-container>
    </div>
  </div>
</div>
<app-footer></app-footer>
