:host {
  position: relative;
}
.img-wrapper {
  background: url(/assets/img/main-body.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.main-body {
  margin-top: -290px;
  padding-top: 190px;

  .news-card {
    background: rgba(255, 223, 174, 0.55);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
    width: 600px;
    cursor: pointer;
    .news-card-body {
      background: #ffffff;
      box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
      border-radius: 10px;
      padding: 7px 0px;
      font-family: "Ramaraja";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: #642e20;
    }
  }

  .section-card .section-img {
    transition: 0.3s ease;
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
  }

  .section-content {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    overflow: hidden;
  }

  .section {
    &-text {
      font-family: "Judson";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #393939;
      margin-bottom: 20px;
      text-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
      margin-top: 10px;
    }

    &-card {
      cursor: pointer;
      padding: 0px 40px;
      &-row {
        min-height: 100%;
        position: relative;
        margin-bottom: 100px;
        margin-top: 50px;
        &::before {
          content: "";
          display: block;
          width: 100%;
          min-height: 100%;
          background-color: #ffdfae;
          position: absolute;
          top: 50px;
          left: 0px;
          z-index: -1;
          border-radius: 5px;
        }
      }

      .section-img img {
        overflow: hidden;
      }
    }

    &-card:hover {
      .section-img {
        scale: 1.3;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .section-text {
      font-size: 18px;
      margin-top: 5px;
    }
    h1 {
      text-align: center;
      margin-top: 3.5rem !important;
    }
  }
}

.about-platform {
  position: relative;
  &::before {
    content: "";
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    background: url("/assets/img/carousel-bg.png") no-repeat;
    background-size: 500px;
  }
  &-people {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 30px;
      width: 100%;
      align-items: center;
      p {
        font-size: 16px !important;
      }
      &:first-child p {
        text-align: start;
      }
      &:last-child p {
        text-align: end;
      }
      .w-70 {
        width: 70% !important;
      }
      position: relative;
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          background: #7d4233;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 0px;
      }

      &-img:first-child {
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #7d4233;
          position: absolute;
          right: -20px;
          top: 50%;
        }
      }
      &-img:last-child {
        position: relative;
        display: flex;
        justify-content: end;
        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #7d4233;
          position: absolute;
          left: -20px;
          top: 50%;
        }
      }
    }
  }
}

.lessons-title,
.about-platform-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  color: #7d4233;
  margin-bottom: 25px;
}

.about-platform-title {
  padding-bottom: 100px;
}
