<!--
  Main app layout
-->
<app-loader-with-logo></app-loader-with-logo>
<app-navbar></app-navbar>

<!-- Development navigation to Dropbox login page -->
<div *ngIf="false" class="dev-links">
  <a routerLink="/dropbox-login">Dropbox Login</a>
</div>

<router-outlet></router-outlet>

<!-- <div class="app-container">
    <div *ngIf="false" class="dev-links">
      <a routerLink="/dropbox-login">Dropbox Login</a>
    </div>
    
    <app-loader></app-loader>
    <router-outlet></router-outlet>
  </div> -->