<footer>
  <!-- <div class="container">
        <div class="row">
            <div class="col-md-3 me-5">
                <img src="/assets/img/footer-logo.png" alt="">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <h1>{{ "footer-header" | translate }}</h1>
            </div>
        </div>
    </div> -->
  <div class="footer-wrapper">
    <div class="rectangle">
      <img src="/assets/img/footer-logo.png" width="180px" alt="" />
      <!-- <a href="#">
              <img width="40px" src="/assets/img/phone.png" alt="">
          </a>
          <a href="#">
              <img width="40px" src="/assets/img/web.png" alt="">
          </a> -->
    </div>
    <div class="socials">
      <a href="#">
        <img width="40px" src="/assets/img/telegram.png" alt="" />
      </a>
      <a href="#">
        <img width="40px" src="/assets/img/mail.png" alt="" />
      </a>
    </div>
  </div>
</footer>
