<div class="loader-content" *ngIf="loading">
  <div class="loader-box">
    <small>Yuklanmoqda...</small>
    <app-loader></app-loader>
  </div>
</div>
<div class="create-build-content">
  <div class="create-build-card">
    <button class="mb-3 bg-none border-0" style="width: 50px" (click)="goBack()">
      <img src="/assets/svg/arrow-left.svg" class="w-100" alt="arrow-left" />
    </button>
    <div class="row">
      <div
        class="col-md-12 mb-3 d-flex justify-content-center align-items-center flex-column"
      >
        <ng-select
          [(ngModel)]="lesson"
          class="create-build-ng-select mb-4"
          placeholder="Fanni tanlang..."
        >
          <ng-option 
            *ngFor="let lesson of lessons" 
            [value]="lesson"
          >
            {{ lesson.lessonTitle?.uz }} - {{ lesson.lessonTitle?.ru }} - {{
            lesson.lessonTitle?.en }}
          </ng-option>
        </ng-select>
        <ng-select
          [(ngModel)]="task"
          class="create-build-ng-select bg-yellow mb-4"
          [placeholder]="'Grafik topshiriqni tanlang'"
          [clearable]="true"
        >
          <ng-option *ngFor="let taskItem of lesson?.tasks" [value]="taskItem">
            {{ taskItem.title }}
          </ng-option>
        </ng-select>
        <div class="container my-4">
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative">
                <input
                  type="file"
                  hidden
                  #hiddenInput
                  data-category="taskExampleFiles"
                  multiple
                  (change)="onFileSelected($event, 'taskExampleFiles', selectedLanguage)"
                />
                <div class="bg-none p-0 position-absolute-btn">
                  <div ngbDropdown class="d-inline-block">
                    <img
                      src="/assets/svg/plus.svg"
                      width="30px"
                      alt="upload"
                      ngbDropdownToggle
                    />
                    <div ngbDropdownMenu>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('uz', 'taskExampleFiles')"
                      >
                        <img
                          src="/assets/svg/uz.svg"
                          alt=""
                          class="me-1"
                        />O'zbek
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('ru', 'taskExampleFiles')"
                      >
                        <img
                          src="/assets/svg/ru.svg"
                          alt=""
                          class="me-1"
                        />Русский
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('en', 'taskExampleFiles')"
                      >
                        <img
                          src="/assets/svg/en.svg"
                          alt=""
                          class="me-1"
                        />English
                      </button>
                    </div>
                  </div>
                </div>
                <app-file-list
                  [files]="task?.firstBasedFiles?.taskExampleFiles"
                  [category]="'taskExampleFiles'"
                  [placeholder]="'GRAFIK TOPSHIRIQ YECHIMI NAMUNALARI (PDF),(PPT)'"
                  [hasError]="hasError('taskExampleFiles')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative">
                <input
                  type="file"
                  hidden
                  #hiddenInput
                  data-category="taskSolutionFiles"
                  multiple
                  (change)="onFileSelected($event, 'taskSolutionFiles', selectedLanguage)"
                />
                <div class="bg-none p-0 position-absolute-btn">
                  <div ngbDropdown class="d-inline-block">
                    <img
                      src="/assets/svg/plus.svg"
                      width="30px"
                      alt="upload"
                      ngbDropdownToggle
                    />
                    <div ngbDropdownMenu>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('uz', 'taskSolutionFiles')"
                      >
                        <img
                          src="/assets/svg/uz.svg"
                          alt=""
                          class="me-1"
                        />O'zbek
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('ru', 'taskSolutionFiles')"
                      >
                        <img
                          src="/assets/svg/ru.svg"
                          alt=""
                          class="me-1"
                        />Русский
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('en', 'taskSolutionFiles')"
                      >
                        <img
                          src="/assets/svg/en.svg"
                          alt=""
                          class="me-1"
                        />English
                      </button>
                    </div>
                  </div>
                </div>
                <app-file-list
                  [files]="task?.firstBasedFiles?.taskSolutionFiles"
                  [category]="'taskSolutionFiles'"
                  [placeholder]="'GRAFIK TOPSHIRIQLAR VARIANTLARI'"
                  [hasError]="hasError('taskSolutionFiles')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
          </div>
        </div>
        <div class="create-build-ng-card">Didaktik materiallar</div>
        <div class="container my-4">
          <div class="row">
            <div class="col-md-3 mb-3"></div>
            <div class="col-md-6 mb-3">
              <div class="position-relative">
                <input
                  type="file"
                  hidden
                  #hiddenInput
                  data-category="taskTitleFiles"
                  multiple
                  (change)="onFileSelected($event, 'taskTitleFiles', selectedLanguage)"
                />
                <div class="bg-none p-0 position-absolute-btn">
                  <div ngbDropdown class="d-inline-block">
                    <img
                      src="/assets/svg/plus.svg"
                      width="30px"
                      alt="upload"
                      ngbDropdownToggle
                    />
                    <div ngbDropdownMenu>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('uz', 'taskTitleFiles')"
                      >
                        <img
                          src="/assets/svg/uz.svg"
                          alt=""
                          class="me-1"
                        />O'zbek
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('ru', 'taskTitleFiles')"
                      >
                        <img
                          src="/assets/svg/ru.svg"
                          alt=""
                          class="me-1"
                        />Русский
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('en', 'taskTitleFiles')"
                      >
                        <img
                          src="/assets/svg/en.svg"
                          alt=""
                          class="me-1"
                        />English
                      </button>
                    </div>
                  </div>
                </div>
                <app-file-list
                  [files]="task?.secondBasedFiles?.taskTitleFiles"
                  [category]="'taskTitleFiles'"
                  [placeholder]="'MA\'RUZA MATNI'"
                  [hasError]="hasError('taskTitleFiles')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-3">
              <div class="position-relative">
                <input
                  type="file"
                  hidden
                  #hiddenInput
                  data-category="taskPresentationFiles"
                  multiple
                  (change)="onFileSelected($event, 'taskPresentationFiles', selectedLanguage)"
                />
                <div class="bg-none p-0 position-absolute-btn">
                  <div ngbDropdown class="d-inline-block">
                    <img
                      src="/assets/svg/plus.svg"
                      width="30px"
                      alt="upload"
                      ngbDropdownToggle
                    />
                    <div ngbDropdownMenu>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('uz', 'taskPresentationFiles')"
                      >
                        <img
                          src="/assets/svg/uz.svg"
                          alt=""
                          class="me-1"
                        />O'zbek
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('ru', 'taskPresentationFiles')"
                      >
                        <img
                          src="/assets/svg/ru.svg"
                          alt=""
                          class="me-1"
                        />Русский
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('en', 'taskPresentationFiles')"
                      >
                        <img
                          src="/assets/svg/en.svg"
                          alt=""
                          class="me-1"
                        />English
                      </button>
                    </div>
                  </div>
                </div>
                <app-file-list
                  [files]="task?.secondBasedFiles?.taskPresentationFiles"
                  [category]="'taskPresentationFiles'"
                  [placeholder]="'PREZENTATSIYA'"
                  [hasError]="hasError('taskPresentationFiles')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative">
                <div class="bg-none p-0 position-absolute-btn">
                  <img src="/assets/svg/plus.svg" width="30px" alt="upload" (click)="addVideo()" style="cursor: pointer;" />
                </div>
                <app-file-list
                  [files]="task?.secondBasedFiles?.taskVideoUrls"
                  [category]="'taskVideoUrls'"
                  [placeholder]="'VIDEO DARS'"
                  [hasError]="hasError('taskVideoUrls')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-3">
              <div class="position-relative">
                <input
                  type="file"
                  hidden
                  #hiddenInput
                  data-category="taskLiteratureFiles"
                  multiple
                  (change)="onFileSelected($event, 'taskLiteratureFiles', selectedLanguage)"
                />
                <div class="bg-none p-0 position-absolute-btn">
                  <div ngbDropdown class="d-inline-block">
                    <img
                      src="/assets/svg/plus.svg"
                      width="30px"
                      alt="upload"
                      ngbDropdownToggle
                    />
                    <div ngbDropdownMenu>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('uz', 'taskLiteratureFiles')"
                      >
                        <img
                          src="/assets/svg/uz.svg"
                          alt=""
                          class="me-1"
                        />O'zbek
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('ru', 'taskLiteratureFiles')"
                      >
                        <img
                          src="/assets/svg/ru.svg"
                          alt=""
                          class="me-1"
                        />Русский
                      </button>
                      <button
                        class="d-flex align-items-center"
                        ngbDropdownItem
                        (click)="onFileTypeSelect('en', 'taskLiteratureFiles')"
                      >
                        <img
                          src="/assets/svg/en.svg"
                          alt=""
                          class="me-1"
                        />English
                      </button>
                    </div>
                  </div>
                </div>
                <app-file-list
                  [files]="task?.secondBasedFiles?.taskLiteratureFiles"
                  [category]="'taskLiteratureFiles'"
                  [placeholder]="'FAN BO\'YICHA ADABIYOTLAR'"
                  [hasError]="hasError('taskLiteratureFiles')"
                  (removeFile)="onRemoveFile($event)"
                  (replaceFile)="onReplaceFile($event)"
                ></app-file-list>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end pe-3">
      <img
        src="/assets/svg/save.svg"
        class="cursor-pointer"
        width="30px"
        alt="next"
        (click)="uploadAllFilesAndSaveData()"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Video list will be shown in the ng-select above -->
    </div>
  </div>
</div>