:host {
  --current-slide: 0;
}

.lessons {
  &-header {
    background: url(/assets/img/lessons-bg.png) no-repeat;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: 0px -100px;
    &-title {
      width: 75%;
      padding: 100px 0px 20px 0px;
      h1 {
        font-family: "Merriweather Sans";
        font-style: normal;
        font-weight: 400;
        color: #ffffff;
        font-size: 35px;
      }
      h3 {
        font-family: "Merriweather Sans";
        font-style: normal;
        font-size: 25px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
  min-height: 100vh;
  .file-content {
    width: 100%;
    padding: 10px 20px 30px 20px;
    background-color: #ffdfae;
    border-radius: 10px;
    min-height: 100vh;
    height: 100%;
    &-body {
      width: 100%;
      padding: 10px 20px;
      background-color: #ffffff;
      border-radius: 10px;
      min-height: calc(100vh - 40px);
    }
    h3 {
      font-size: 20px;
      font-family: "Judson";
      text-align: center;
    }
  }

  .file-selection {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    &-card {
      width: 100%;
      background-color: #ffdfae;
      border-radius: 10px;
      padding: 20px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-bigger {
        .file-selection-card-item {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-img {
        margin-right: 30px;
        @media (max-width: 768px) {
          margin-right: 0px;
          margin-bottom: 10px;
        }
      }
      &-item {
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
        @media (max-width: 768px) {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
        h5 {
          font-family: "Ramaraja";
          font-weight: 400;
          font-size: 20px;
          color: #642e20;
          margin-bottom: 0px;
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &-borderfull {
          h5 {
            color: #642e209e;
          }
          &:last-child {
            padding: 20px;
          }
          .file-selection-card-img {
            position: relative;
            margin-right: 30px;
            &::after {
              content: "";
              position: absolute;
              right: -5px;
              top: 0;
              width: 1px;
              height: 100%;
              background-color: #878686;
            }
          }
        }
      }
    }
  }
}
