<div class="container">
  <div class="position-relative min-h-80 w-100 overflow-hidden lessons-card">
    <div class="lesson-items lesson-items-top">
      <div class="lesson-item d-flex py-4">
        <div>FANLAR</div>
      </div>
      <div class="lessons-item"></div>
    </div>
    <div
      class="lesson-items lesson-items-bottom"
      *ngFor="let lesson of lessons; let i = index"
    >
      <div class="lesson-item d-flex">
        <div class="px-3">{{ lesson.index }}</div>
        <div class="px-4">
          {{ lesson.lessonTitle?.uz }}
          <!-- , {{
                lesson.lessonTitle.ru.length >= 18 ? lesson.lessonTitle.ru.slice(0,
                18) + '...' : lesson.lessonTitle.ru }}, {{
                lesson.lessonTitle.en.length >= 18 ? lesson.lessonTitle.en.slice(0,
                18) + '...' : lesson.lessonTitle.en }} -->
        </div>
      </div>
      <div class="lesson-item position-relative">
        <div class="text-center">Grafik topshiriqlar</div>
        <div class="d-flex position-absolute right-0 top-0 action-btns">
          <div
            class="action-btn cursor-pointer"
            (click)="openDropdown(i, lesson)"
          >
            <img src="/assets/svg/arrow-down.svg" width="30px" alt="" />
          </div>
          <!-- <div
            class="action-btn cursor-pointer"
            [routerLink]="['/dashboard/create-build/', lesson.id]"
          >
            <img src="/assets/svg/plus.svg" width="30px" alt="" />
          </div> -->
        </div>
        <div class="action-dropdown" *ngIf="selectedIndex === i">
          <div class="d-flex align-items-center">
            <input class="form-control me-2" type="text" [(ngModel)]="task" />
            <img
              src="/assets/svg/plus.svg"
              class="cursor-pointer"
              width="30px"
              alt=""
              (click)="addTaskToLesson()"
            />
          </div>
          <div>
            <span *ngFor="let item of lesson.tasks">
              {{ item }}
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="add-lesson pt-4 pb-3 cursor-pointer text-center"
      routerLink="/dashboard/create-lesson"
    >
      <span class="me-2">Yangi fan qo'shish</span>
      <img src="/assets/svg/plus.svg" width="30px" alt="" />
    </div>
    <div
      class="add-lesson py-3 cursor-pointer text-center"
      routerLink="/dashboard/create-build"
    >
      <span class="me-2">Fanlarga resurs qo’shish</span>
      <img src="/assets/svg/plus.svg" width="30px" alt="" />
    </div>
  </div>
</div>
