<section class="main-section">
  <div class="bg relative w-100">
    <div class="container position-relative">
      <div class="landing-header">
        <div class="landing-header-title">
          <h1 class="text-white" *ngIf="lang === 'uz'">
            GRAFIK <br />
            TOPSHIRIQLAR <br />
            ELEKTRON PLATFORMASI
          </h1>
          <h1 class="text-white ru" *ngIf="lang === 'ru'">
            Электронная <br />
            платформа <br />
            графических заданий
          </h1>
          <h1 class="text-white" *ngIf="lang === 'en'">
            Electronic platform for <br />
            graphic tasks
          </h1>
        </div>
        <ul>
          <li>{{ "landing-header-text-1" | translate }}"</li>
          <li>{{ "landing-header-text-2" | translate }}"</li>
          <li>{{ "landing-header-text-3" | translate }}"</li>
          <li>{{ "landing-header-text-4" | translate }}"</li>
          <li>{{ "landing-header-text-5" | translate }}"</li>
          <li>{{ "landing-header-text-6" | translate }}"</li>
          <li>{{ "landing-header-text-7" | translate }}"</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="img-wrapper">
  <section class="main-body">
    <div class="container">
      <div class="news-card">
        <div class="news-card-body">
          MUHANDISLIK GRAFIKASI OLAMIDA YANGILIKLAR
        </div>
      </div>
      <h1 class="lessons-title">{{ "list-of-lessons" | translate }}</h1>

      <div
        class="row section-card-row"
        *ngIf="websiteLessons?.length; else noData"
      >
        <div class="col-md-4" *ngFor="let item of websiteLessons">
          <!-- [routerLink]="['/pages/lessons', item.id]" -->
          <div class="section-card">
            <div class="section-content">
              <div class="section-img">
                <img
                  [src]="item?.thumbnail && item.thumbnail"
                  class="w-100"
                  alt="img-1"
                />
              </div>
            </div>
            <div class="section-text">{{ item.lessonTitle[lang] }}</div>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <!-- <h2 class="mt-2 mb-4">{{ "no-data" | translate }}</h2> -->
      </ng-template>
    </div>
  </section>

  <section class="about-platform">
    <div class="container">
      <h1 class="about-platform-title">{{ "about-platform" | translate }}</h1>
    </div>
  </section>
</div>
