<div class="bg relative w-100">
  <div class="container position-relative" style="min-height: 100vh">
    <div class="row">
      <div class="col-md-6">
        <div class="landing-header">
          <div class="landing-header-title">
            <h1 class="text-white" *ngIf="locale === 'uz'">
              GRAFIK <br />
              TOPSHIRIQLAR <br />
              ELEKTRON PLATFORMASI
            </h1>
            <h1 class="text-white ru" *ngIf="locale === 'ru'">
              Электронная <br> платформа <br> графических заданий
            </h1>
            <h1 class="text-white" *ngIf="locale === 'en'">
              Electronic platform for <br> graphic tasks
            </h1>
          </div>
          <ul>
            <li>{{ "landing-header-text-1" | translate }}"</li>
            <li>{{ "landing-header-text-2" | translate }}"</li>
            <li>{{ "landing-header-text-3" | translate }}"</li>
            <li>{{ "landing-header-text-4" | translate }}"</li>
          </ul>
          <!-- <a href="">
            {{ "landing-header-link" | translate }}
          </a> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <h3 class="landing-text" *ngIf="!titleShow">
          {{ "landing-text" | translate }}
        </h3>
        <h3 class="landing-text-other" *ngIf="titleShow">
          {{ "about-us" | translate }}
        </h3>
      </div>
    </div>
  </div>
</div>
