<div class="create-lessons-content">
  <div class="create-lessons-card">
    <div class="create-lessons-card-header">
      <span>FAN YARATISH</span>
      <img
        src="./assets/svg/cancel.svg"
        class="cursor-pointer"
        routerLink="/dashboard"
        width="45px"
        alt=""
      />
    </div>
    <div class="create-lessons-card-body">
      <form>
        <div class="d-flex flex-column">
          <div class="mb-4">
            <span>UZ</span>
            <input class="form-control" type="text" formControlName="uz" />
          </div>
          <div class="mb-4">
            <span>RU</span>
            <input class="form-control" type="text" formControlName="ru" />
          </div>
          <div class="mb-4">
            <span>EN</span>
            <input class="form-control" type="text" formControlName="en" />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="create-lessons-card-img">
            <div class="header">FAN MUQOVASI UCHUN RASM TANLANG</div>
            <div class="body">
              <img src="/assets/svg/plus.svg" width="50px" alt="" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
