<div class="create-lessons-content">
  <div class="create-lessons-card">
    <div class="create-lessons-card-header">
      <span>FAN YARATISH</span>
      <img
        src="./assets/svg/cancel.svg"
        class="cursor-pointer"
        routerLink="/dashboard"
        width="45px"
        alt=""
      />
    </div>
    <div class="create-lessons-card-body">
      <form [formGroup]="createLessonsForm" (submit)="save()">
        <div class="d-flex flex-column">
          <div class="mb-4">
            <span>UZ</span>
            <input class="form-control" type="text" formControlName="uz" />
          </div>
          <div class="mb-4">
            <span>RU</span>
            <input class="form-control" type="text" formControlName="ru" />
          </div>
          <div class="mb-4">
            <span>EN</span>
            <input class="form-control" type="text" formControlName="en" />
          </div>
        </div>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #input />
        <div class="d-flex justify-content-center cursor-pointer" (click)="input.click()">
          <div class="create-lessons-card-img">
            <div class="header">FAN MUQOVASI UCHUN RASM TANLANG</div>
            <div class="body">
              <img [src]="!imgDisplay ? '/assets/svg/plus.svg' : imgDisplay" [ngStyle]="{ 'width': !imgDisplay ? '50px' : '100%'}" alt="" />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button class="btn" type="submit">
            <img src="/assets/svg/save.svg" alt="">
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
