<div class="container">
    <div class="w-full min-h-screen flex justify-content-center align-items-center">
        <div class="mr-7 flex flex-column justify-content-center align-items-center">
            <img src="/assets/img/ux.png" width="80"/>
            <h3>Prezintatsiyalar</h3>
        </div>
        <div class="mr-7 flex flex-column justify-content-center align-items-center">
            <img src="/assets/img/video.png" width="80"/>
            <h3>Video darslar</h3>
        </div>
        <div class="mr-7 flex flex-column justify-content-center align-items-center">
            <img src="/assets/img/seo.png" width="80"/>
            <h3>Nazaryasi</h3>
        </div>
        <div class="mr-7 flex flex-column justify-content-center align-items-center">
            <img src="/assets/img/homework.png" width="80"/>
            <h3>Grafik topshiriqlar</h3>
        </div>
        <div class="mr-7 flex flex-column justify-content-center align-items-center">
            <img src="/assets/img/task.png" width="80"/>
            <h3>Variantlar</h3>
        </div>
    </div>
</div>