/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";

.btn-primary {
  background-color: rgba(196, 151, 151, 0.75) !important;
  border-color: transparent !important;
  border-radius: 5px !important;
  height: 45px;
}

.btn-primary:hover {
  background-color: rgba(199, 134, 134, 0.9) !important;
}

.btn-secondary {
  background: rgba(208, 81, 49, 0.85) !important;
  border-color: transparent !important;
  border-radius: 5px !important;
  height: 45px;
}

.btn-secondary:hover {
  background-color: rgba(208, 81, 49, 1) !important;
}

.bg-none {
  background: none !important;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-80 {
  min-height: 80vh;
}

.right-0 {
  right: 0px;
}

.left-0 {
  left: 0px;
}

.custom-border-bottom {
  border-bottom: 1px solid #dfdfdf;
}

.create-build-ng-select {
  ng-select {
    width: 610px !important;
  }
  .ng-select-container {
    width: 610px !important;
    box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
    border-radius: 20px;
    height: 60px !important;
  }
  .ng-value-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center !important;
  }

  .ng-clear-wrapper {
    right: 10px;
  }

  .ng-value-container .ng-placeholder {
    font-family: "Merriweather Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #c5c2c2;
  }
  .ng-value-container .ng-input {
    top: 15px !important;
    padding-left: 20px !important;
  }

  .ng-dropdown-panel.ng-select-bottom {
    border-radius: 20px !important;
    overflow: hidden;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .ng-arrow-wrapper {
    display: none !important;
  }
}

.create-build-ng-select-file {
  .ng-select-container {
    box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
    border-radius: 20px;
    height: 60px !important;
  }
  .ng-value-container {
    padding-left: 20px !important;
  }

  .ng-value-container .ng-placeholder {
    font-family: "Ramaraja" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #515151 !important;
  }
  .ng-value-container .ng-input {
    top: 15px !important;
    padding-left: 20px !important;
  }

  .ng-dropdown-panel.ng-select-bottom {
    border-radius: 20px !important;
    overflow: hidden;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .ng-clear-wrapper {
    display: none;
  }
}

@media screen and (max-width: 500px) {
}

.custom-tooltip {
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  transform: translateX(-50%);
}
