<div class="position-relative min-h-80 w-100 p-2 overflow-hidden">
  <div class="position-absolute bottom-0 right-0 pe-4 pb-3">
    <button
      class="btn btn-primary btn-lg add-btn"
      [disabled]="isNewUser"
      (click)="isNewUser = true"
    >
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <div class="row mb-3 custom-border-bottom pb-2">
    <div class="col-1">#</div>
    <div class="col">Name</div>
    <div class="col-3">Password</div>
    <div class="col-2">Actions</div>
  </div>
  <div
    *ngIf="loader; else content"
    class="d-flex justify-content-center align-items-center min-h-80"
  >
    <app-loader></app-loader>
  </div>
  <ng-template #content>
    <div class="row mb-2" *ngFor="let user of users; let i = index">
      <div class="col-1">{{ i + 1 }}</div>
      <div class="col">{{ user.email }}</div>
      <div class="col-3">*</div>
      <div class="col-2">
        <button class="btn btn-danger" (click)="deleteUser(user.id)">
          <i class="bi bi-trash text-white"></i>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="isNewUser">
      <div class="col-1">#</div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="email" />
      </div>
      <div class="col-3">
        <input type="text" class="form-control" [(ngModel)]="password" />
      </div>
      <div class="col-2">
        <button class="btn btn-success me-2" (click)="createUser()">
          <i class="bi bi-floppy-fill text-white"></i>
        </button>
        <button class="btn btn-warning" (click)="cancel()">
          <i class="bi bi-x-square-fill text-white"></i>
        </button>
      </div>
    </div>
  </ng-template>
</div>
